:root,
:root[data-theme="light"] {
  --primary-color: #2D3E50;
  --primary-hover: #333333;
  --text-primary-color: #FFFFFF;
  --secondary-color: #F4F4F5;
  --secondary-hover-color: #E4E4E5;
  --text-secondary-color: #18181B;

  --success-bg: #064e3b;
  --success-text: #6ee7b7;
  --error-bg: #7f1d1d;
  --error-text: #fca5a5;

  --hint-bg: #EFF6FF;
  --hint-border-color: #3B82F6;
  --hint-text: #3F3F46;

  --bg-color: #FAFAFA;
  --border-color: #E4E4E7;
  --text-color: #52525B;
  --text-muted: #6b7280;
  --divider-primary: #E7E7E7;

  --card-bg: #FFFFFF;
  --card-border-color: #E4E4E7;
  --flipped-card-bg: #0C9BAB;

  --drag-and-drop-bg: #FFFFFF;
  --draggable-item-valid-bg-color: #ECFDF5;
  --draggable-item-valid-border-color: #34D399;
  --draggable-item-invalid-bg-color: #FFF1F2;
  --draggable-item-invalid-border-color: #FB7185;
}

:root[data-theme="dark"] {
  --primary-color: #11C5C6;
  --primary-hover: #0b8f90;
  --text-primary-color: #FFFFFF;
  --secondary-color: #27272A;
  --secondary-hover-color: #37374A;
  --text-secondary-color: #FFFFFF;

  --hint-bg: #3B82F680;
  --hint-border-color: #3B82F6;
  --hint-text: #FFFFFF;

  --bg-color: #3F3F46;
  --border-color: #52525B;
  --text-color: #E4E4E7;
  --text-muted: #9ca3af;
  --divider-primary: #52525B;

  --card-bg: #27272A;
  --card-border-color: #52525B;
  --flipped-card-bg: #0C9BAB;

  --drag-and-drop-bg: #18181B;
  --draggable-item-valid-bg-color: #10B98180;
  --draggable-item-valid-border-color: #10B981;
  --draggable-item-invalid-bg-color: #F43F5E80;
  --draggable-item-invalid-border-color: #F43F5E;
}

/* Global styles */
.btn {
  appearance: none;
  background: transparent;
  padding: 10px 12px;
  border: none;
  border-radius: 0;
  font-size: 1rem;

  transition: all 200ms ease;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
}
.btn-secondary:hover {
  background-color: var(--secondary-hover-color);
}

.feedback {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}
.feedback.success {
  background-color: var(--success-bg);
  color: var(--success-text);
}
.feedback.error {
  background-color: var(--error-bg);
  color: var(--error-text);
}

.hint {
  display: flex;
  gap: 10px;

  padding: 16px;
  border: 1px solid var(--hint-border-color);
  border-radius: 2px;
  margin-block-start: 20px;
  background-color: var(--hint-bg);

  font-size: 1rem;
  color: var(--hint-text);
}
/* Global styles */

/* Activities container */
.activities-container {
  min-height: 100vh;

  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px 24px;

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Activities container - Header */
.activities__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.activities__title {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.activities__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.activities__buttons-item {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;

  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;

  display: flex;
  align-items: center;
}

/* Activities container - Divider */
.activities__divider {
  border: 1px solid var(--divider-primary);
  margin-block: 20px;
}

/* Activities container - Error */
.activities__error {
  margin-block: 20px;
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;

  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

@media all and (width > 400px) {
  .activities__header {
    flex-direction: row;
  }
}
