.activities__instructions {
  margin-block: 20px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
}

/* Flashcard styles */
.flashcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
  grid-auto-rows: 200px;
  gap: 15px;
}

.flashcards-item {
  cursor: pointer;
  perspective: 1000px;
  position: relative;
}
.flashcards-item.flipped .flashcards-item__inner {
  transform: rotateY(180deg);
}

.flashcards-item__inner {
  border: 1px solid var(--card-border-color);

  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 500ms;
  transform-style: preserve-3d;
}
.flashcards-item__inner,
.flashcards-item__inner__front,
.flashcards-item__inner__back {
  border-radius: 6px;
}

.flashcards-item__inner__front {
  background-color: var(--card-bg);
  color: var(--text-color);
}
.flashcards-item__inner__back {
  background-color: var(--flipped-card-bg);
  color: #FFFFFF;
  transform: rotateY(180deg);
}
.flashcards-item__inner__front,
.flashcards-item__inner__back {
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  height: 100%;
  padding: 16px 10px;
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  overflow: auto;
  scrollbar-color: white grey;
  scrollbar-width: thin;
}
