.fill-blank {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.fill-blank-text {
  font-size: 1.25rem;
  color: var(--text-color);
  line-height: 2;
}

.input-container {
  display: inline-block;
  position: relative;
}

.fill-blank input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  margin: 0 0.5rem;
  font-size: 1rem;
  outline: none;
  color: var(--text-color);
  transition: all 0.2s ease;
  text-align: center;
  min-width: 3em;
}

.fill-blank input:focus {
  border-color: #3F3F46;
}

.fill-blank .input-container.correct input {
  border-color: #34D399;
  background-color: #ECFDF5;
  color: black;
}

.fill-blank .input-container.incorrect input {
  border-color: #FB7185;
  background-color: #FECDD3;
  color: black;
}


/* Support inputs inside code and pre blocks */
.fill-blank code,
.fill-blank pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.fill-blank code .input-container,
.fill-blank pre .input-container {
  display: inline-block;
}
